@import "../common/color.scss";

.footer {
  background-color: $secondary-color;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-primary;
}
